apiVersion: apps/v1
kind : Deployment
metadata: 
    name: nginxdeployment
    labels:
      apps: nginx
spec: 
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 1
    selector:
      matchLabels: 
        app: nginxdeployment
    replicas: 3
    template:
      metadata:
        labels:
           app: nginxdeployment
      spec:
        containers: 
        - name: nginxdeployment-container
          image: httpd:latest
          ports: 
            - containerPort: 80